RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^del/cities/:([^./]+)/weather/:([^./]+)$ /?action=del_weather&city_id=$1&weather_id=$2 [L]
RewriteRule ^post/cities/:([^./]+)/weather$ /?action=post_weather&city_id=$1 [L]
RewriteRule ^get/cities/:([^./]+)/weather$ /?action=get_weather&city_id=$1 [L]
RewriteRule ^del/cities/:([^./]+)$ /?action=del_city&city_id=$1 [L]
RewriteRule ^post/cities$ /?action=post_city [L]
RewriteRule ^get/cities$ /?action=get_cities [L]